<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://weatherapp20240729133707.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bb11e6d9-dbb4-42ac-8018-3c50a2886d40/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/WeatherApp20240729133707</ResourceId>
    <UserName>$WeatherApp20240729133707</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://weatherapp20240729133707.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>